body{
    background-color:#E9ECEF;
}


#liste{
    list-style-type:none;
}

h1{
    color: red;
}

h2{
    color: purple;
}

.link:hover{
    text-decoration:none;
}

img{
    width: 150px;
    height: 125px;
}

.drones-img{
    font-weight: bolder;
    font-size: larger;
}
hr{
    border-top: 4px dashed red;
  }